.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10%;
  color: white;
  border-bottom: 2px solid #3c3c3c;
}

.navbar ul{
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbar li{
  cursor: pointer;
}

.nav-right{
  display: flex;
  align-items: center;
}

.navbar select{
  padding: 5px 8px;
  border-radius: 6px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
}

.navbar option{
  background-color: #09005c;
}

@media (max-width:768px){
  .navbar ul {
    display: none;
  }
}